@model IEnumerable<Domain.Models.Poll>

@{
    ViewData["Title"] = "Polls";
}

<h2>All Polls</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Poll</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var poll in Model)
        {
            <tr>
                <td>@poll.Title</td>
                <td>@poll.DateCreated.ToShortDateString()</td>
                <td>
                    <a asp-action="Vote" asp-route-id="@poll.Id" class="btn btn-success">Vote</a>
                    <a asp-action="Results" asp-route-id="@poll.Id" class="btn btn-secondary ms-2">View Results</a>
                </td>
            </tr>
        }
    </tbody>
</table>
